.nvaSm{
    display: flex;
    justify-content: end;
    align-items: center;

    list-style: none;
}
.nvaSm li{
   padding-right: 10px;
  
}

@media only screen and (min-width: 600px) {
   .navigationSm{
       display: none;
   }
  }
@media only screen and (max-width: 600px) {
    .navigationLg{
display: none;
    }
  }